@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');



* {
    box-sizing: border-box;
}

body{
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.pw-container{
    background-color: rgb(81, 79, 206);
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 500px;
}

.pw-header{
    padding: 1rem;
}

.pw-block{
    background-color: #63a4ff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pw{
    display: flex;
    font-size: 2rem;
    height: 70px;
    width: 100%;
    padding: 0.7rem;
}

.pw-block button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.4rem 0.5rem;
    margin-left: 1rem;
    margin-right: 0.6rem;
}

 /* click animation */
.pw-block button:active {
    background-color: rgb(37, 137, 231);
    transform: translateY(4px);
}

.pw-body{
    padding: 0 1rem 1rem;
}

.form-control{
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.len{
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    width: 2.7rem;
}

.generate{
    border: none;
    background-color: #4c92f5;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.7rem;
    margin-top: 1rem;
    width: 100%;
}

 /* click animation */
.generate:active {
    background-color: #1978fd;
    transform: translateY(4px);
}



